.cell{
  height: 70px;
  width: 70px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: blue;
  opacity: 0.8;
  
}
.whiteCircle{
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 100px;
  
}

table{
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  
}

td {
  border: none;
}

.button, .message, .gameTitle{
  display: flex;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

.button {
  text-decoration: underline green;
}

.gameTitle {
  color: green;
  font-style: italic;
}

.redCircle {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 1s;
}

.yellowCircle {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 1s;
}


.title1 {
  color: green;

}

.title2{
  color: blue;
}

.title3{
  color: green;
}

.innerCircle {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 100px;
  opacity: 0,8;
}

.bigBackground {
  background-color: gray;
  height: 750px;
  width: 100%;
}

.green {
  height: 60px;
  width: 60px;
  background-color: green;
  border-radius: 100px;
  transition: background-color 1s;
}
