.cell{
  height: 70px;
  width: 70px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: blue;
  opacity: 0.8;
  
}
.whiteCircle{
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 100px;
  
}

table{
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  
}

td {
  border: none;
}

.button, .message, .gameTitle{
  display: flex;
  justify-content: center;
}

.message {
  font-size: 40px;
  color: Green;
  font-style: italic;

  text-shadow: 0 1px 0 rgb(30, 221, 24),
               0 2px 0 rgb(30, 221, 24),
               0 3px 0 rgb(30, 221, 24),
               0 4px 0 #645f5f,
               0 5px 0 rgb(102, 90, 90),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.Yellow{
  font-size: 40px;
  color: yellow;
  font-style: italic;

  text-shadow: 0 1px 0 rgb(178, 221, 24),
               0 2px 0 rgb(178, 221, 24),
               0 3px 0 rgb(178, 221, 24),
               0 4px 0 #645f5f,
               0 5px 0 rgb(102, 90, 90),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.Red{
  font-size: 40px;
  color: red;
  font-style: italic;

  text-shadow: 0 1px 0 rgb(178, 221, 24),
               0 2px 0 rgb(178, 221, 24),
               0 3px 0 rgb(178, 221, 24),
               0 4px 0 #645f5f,
               0 5px 0 rgb(102, 90, 90),
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.button:hover {
  cursor: pointer;
}

.button {
  text-decoration: underline green;
}

.gameTitle {
  color: green;
  font-style: italic;
}

.redCircle {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 1s;
}

.yellowCircle {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 1s;
}


.title1 {
  color: green;

}

.title2{
  color: blue;
}

.title3{
  color: green;
}

.innerCircle {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 100px;
  opacity: 0,8;
}

.bigBackground {
  background-color: gray;
  height: 750px;
  width: 100%;
}

.green {
  height: 60px;
  width: 60px;
  background-color: green;
  border-radius: 100px;
  transition: background-color 1s;
}
