.cell{
  height: 70px;
  width: 70px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.white{
  color: white;
}

table{
  display: flex;
  justify-content: center;
  border-collapse: collapse;

}


.button, .message, .gameTitle{
  display: flex;
  justify-content: center;
}

.gameTitle {
  color: green;
  font-style: italic;
}

.red {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 1s;
}

.yellow {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 1s;
}


.title1 {
  color: green;

}

.title2{
  color: blue;
}

.title3{
  color: green;
}